@import "./mocha.css";
@import "/home/kkm/.cache/wal/colors-waybar.css";

.bar * {
  all: unset;
  font-family: "IosevkaTerm Nerd Font";
  font-size: 8px; }
.bar .cbox {
  margin: 2px 6px 1px 6px;
  background: rgba(51, 58, 61, 0.24);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  padding: 0.1em; 
  border-radius: 20px;
  min-height: 10px;
}
.bar button {
  color: #a6adc8;
  border-radius: 20px;
  padding: 0 0.8rem;
  background: #1e1e2e;
  min-width: 1.8rem;
  min-height: 1.0rem;
  transition: popin; 
}
.bar button:hover {
   background: #11111b; }
.bar .app-l-button {
  padding: 0 2px; }
.bar .app-l-button .icon {
    color: #a6adc8;
    font-size: 14px; }
    
/* WORKSPACES */
.bar .workspaces {
  background: #1e1e2e;
  border-radius: 20px; }
.bar .workspaces button {
    padding: 0;
    min-height: 1em;
    margin: 2px 0; }
.bar .workspaces button box {
      min-height: 1em;
      min-width: 0px;
      margin: 0.1em 0.1rem;
      transition: all 0.4s cubic-bezier(0.17, 0.67, 0.24, 1.46);
      background: @surface0;
      border-radius: 0.8rem; }
.bar .workspaces button.occupied box {
      background: @overlay0;
      min-height: 1em; }
.bar .workspaces button.active box {
      min-width: 5em;
      min-height: 1em;
      background: @color4; }
.bar .workspaces button:first-child {
      margin-left: 4px; }
.bar .workspaces button:last-child {
      margin-right: 4px; }
      
/* MEDIAPLAYER */
.bar .media-button {
  border-radius: 20px;
  padding: 0 0.8rem;
  background: transparent;
  min-width: 2rem;
  min-height: 1rem;
}
.bar .media-button label {
   font-size: 15px;
   color: @color2;
}

/* TRAY */
.bar .tray {
  border-radius: 20px;
  padding: 0 0.8rem;
  background: #1e1e2e;
  min-width: 1.6rem;
  min-height: 1.2rem;
  padding: 0 2px; }
.bar .tray button {
    padding: 2px;
    margin: 3px 0; }
.bar .tray button:first-child {
      margin-left: 2px; }
.bar .tray button:last-child {
      margin-right: 2px; }
.bar .tray button:hover {
      color: #11111b; }
      
/* BATTERY */      
.bar .battery-icon {
    color: #bf616a;
}
.bar .battery-label label {
    color: #f38ba8;
    font-size: 15px;
    font-weight:bold;
    margin-left: 2px;
    min-height: 1.0rem;
    padding: 0; }
    

/* CLOCK */    
.bar .clock {
  border-radius: 20px;
  padding: 0 0.8rem;
  background: #1e1e2e;
  min-width: 2rem;
  min-height: 1rem;}
.bar .clock label {
    color: @color6;
    margin-left:8px;
    margin-right:8px;
    font-weight:bold;
    font-size:14px; }
    
/* CPU_RAM */
.bar .system-info {
    border-radius: 20px;
    background: #1e1e2e;
    padding: 0 0.8rem;
}
.bar .system-info label {
    color: @color1;
    margin: 0 0.4rem;
}
.bar .system-info .box {
    margin: 0 0.4rem;
  }
.bar .system-info .value {
    font-size: 1rem;
    font-weight: bold;
    color: @color2;
  }
.bar .system-info .type {
    font-size: 0.9rem;
    font-weight: 300;
  }


/* CONTROLBUTTON */
.bar .control-button {
  border-radius: 20px;
  padding: 0 0.8rem;
  background: #1e1e2e;
  min-width: 2.0rem;
  min-height: 1rem; }
.bar .control-button .speaker {
    font-size: 15px;
    color: @color6; }
.bar .control-button .microphone {
    font-size: 15px;
    color: @color5; }
.bar .control-button .network {
    font-size: 15px;
    color: @color4; }


/* CONTROLPANEL */
window#control_panel {
  background: transparent;
}
window#control_panel * {
    all: unset;
    color: @color6;
    font-family: "IosevkaTerm Nerd Font";
    font-size: 1.2rem;
}
window#control_panel .toggle-button {
    min-height:15px;
    background-color: @surface0;
    border-radius: 10px;
    border: 0px solid @color2;
}
window#control_panel .arrow{
    border-radius:  0px 10px 10px 0px;
}
window#control_panel .simple-toggle {
  border-radius: 10px;
}
window#control_panel .control-box {
    background: rgba(51, 58, 81, 0.80);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
    margin: 0.65rem;
    border-radius: 20px;
    padding: 1rem; }
window#control_panel button {
    border-radius: 10px 0px 0px 10px;
    background: rgba(51, 58, 81, 0.34);
    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46); 
}
/* General Calendar Box Styling */
window#control_panel .cal-box {
  border-radius: 12px;
  background: rgba(51, 58, 81, 0.10);
  color: @lavender;
  padding: 1.2rem;
}
/* Calendar Inner Box Styling */
window#control_panel .cal-box .cal {
  border-radius: 12px;
  border: 0px solid @color3;
  padding: 0.2rem;
  background: rgba(51, 58, 81, 0.10);
}
/* Calendar General Styling */
window#control_panel calendar {
  background: @base;
}
/* Calendar Header and Button Styling */
window#control_panel calendar.header,
window#control_panel calendar.button {
  color: @color4;
  font-weight: bold;
}
/* Selected Date Styling */
window#control_panel calendar:selected {
  color: @color7;
  background: @base;
  border-radius: 50%;
}
window#control_panel calendar.highlight {
  color: @color5;
  border-radius: 50%;
  padding: 0.2rem;
}
window#control_panel calendar:indeterminate {
  color: rgba(236, 236, 236, 0.1);
  background: @base;
  border-radius: 50%;
}

window#control_panel .audio-slider {
    background: @surface0;
    padding: 0 0.8em;
    min-height: 1em;
    border-radius: 20px 20px 0px 0px; }
window#control_panel .audio-slider scale trough {
      background: @base;
      min-height: 1rem;
      margin-right: 15px;
      border-radius: 20px; }
window#control_panel .audio-slider scale trough slider {
        background: @base;
        box-shadow: none;
        border: none; }
window#control_panel .audio-slider scale trough highlight {
        border-radius: 20px;
        border: none; }
window#control_panel .audio-slider .icon {
      margin-right: 1.2rem; }
window#control_panel .audio-slider.speaker .icon {
      color: @color1; }
window#control_panel .audio-slider.speaker scale trough highlight {
      background: @color1; }
window#control_panel .audio-slider.microphone {
      background: @surface0;
      border-radius: 0px 0px 20px 20px; }
window#control_panel .audio-slider.microphone .icon {
      color: @color3;
}
window#control_panel .audio-slider.microphone scale trough highlight {
      background: @color3; 
      border-radius: 20px;}
window#control_panel .brightness-slider {
    background: @surface0;
    padding: 0 0.8em;
    min-height: 1em;
    border-radius: 20px;
}
window#control_panel .brightness-slider .icon {
   color:@color5;}
window#control_panel .brightness-slider scale trough {
      background: @base;
      min-height: 1rem;
      border-radius: 20px; }
window#control_panel .brightness-slider scale trough slider {
        background: @surface0;
        box-shadow: none;
        border: none; }
window#control_panel .brightness-slider scale trough highlight {
        border-radius: 20px;
        border: none; 
        background: @color5;}

window#control_panel .power-box {
    background: rgba(51, 58, 61, 0.44);
    padding: 0.8em; }
window#control_panel .power-box button {
      background: #0c1012;
      min-width: 3rem;
      min-height: 2rem; }
window#control_panel .power-box button:focus {
        background: #5a85db; }
window#control_panel .power-box button:hover {
        background: #5a85db; }
window#control_panel .power-box button:nth-child(1) {
        color: #e86b6b; }
window#control_panel .power-box button:nth-child(2) {
        color: #76a4e3; }
window#control_panel .power-box button:nth-child(3) {
        color: #6faf7f; }
window#control_panel .power-box button:nth-child(4) {
        color: #62a5b8; }
        

/* OSD */
window#OSD {
 border-radius:20px;
}
window#OSD *{
  padding: 2px;
}
window#OSD .osd_vol{
 background: #1e1e2e;
}
window#OSD .audio-slider {
    background: rgba(51, 58, 61, 0.50);
    padding: 0 0.8em;
    min-height: 2em;
    border-radius: 20px ; }
window#OSD .audio-slider scale trough {
      background: rgba(218, 218, 218, 0.1);
      min-height: 1.2rem;
      min-width: 14rem;
      margin-right: 15px;
      border-radius: 20px; }
window#OSD .audio-slider scale trough slider {
        background: none;
        box-shadow: none;
        border: none; }
window#OSD .audio-slider scale trough highlight {
        border-radius: 20px;
        background: @green;
        border: none; }
window#OSD .audio-slider .icon {
      font-size:15px;
      margin-right: 0.4rem;
      margin-left: 0.8rem; }
window#OSD .audio-slider.speaker .icon {
      color: @green; }
window#OSD .audio-slider.speaker scale trough highlight {
      background: @green; }
window#OSD .brightness-slider {
    background: rgba(51, 58, 61, 0.50);
    padding: 0 0.8em;
    min-height: 2em;
    border-radius: 20px; }
window#OSD .brightness-slider .icon {
   color: @teal;}
window#OSD .brightness-slider scale trough {
      background: @surface0;
      min-height: 1.2rem;
      min-width: 16rem;
      margin-right: 15px;
      border-radius: 20px; }
window#OSD .brightness-slider scale trough slider {
        background: none;
        box-shadow: none;
        border: none; }
window#OSD .brightness-slider scale trough highlight {
        border-radius: 20px;
        border: none; 
        background: @teal;}
        
/* NOTIFICATION */
window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 28px;
    min-height: 28px;
    margin-right: 1em;
}

.icon image {
    font-size: 28px;
    /* to center the icon */
    margin: 5px;
    color: #a6adc8;
}

.icon box {
    min-width: 38px;
    min-height: 38px;
    border-radius: 12px;
}

.notification {
    min-width: 350px;
    border-radius: 12px;
    padding: 1em;
    margin: .5em;
    border: 2px solid @color6;
    background-color: rgba(51, 58, 81, 0.4);
}

.notification.critical {
    border: 2px solid lightcoral;
}

.title {
    color: @color4;
    font-size: 1.1em;
    font-weight: bold;
}

.body {
    color: #9399b2;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

/* MEDIA */
window#NotificationMenu {
    min-width: 350px;
    min-height: 100px;
    font-size: 1.2rem; 
    border-radius: 20px; 
    background-color: transparent;
    color: @lavender;
    padding: 2px;
}
window#NotificationMenu .noti-box {
    min-width: 350px;
    min-height: 100px;
    border-radius: 20px; 
    background-color: rgba (51, 58, 80, 0.40);
    padding: 0px;
}
window#NotificationMenu .player{
  padding: 2px;
  border-radius: 20px;
  margin-bottom:1px;
  background: rgba(51, 58, 80, 0.40);
}
.player button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
}
.player button {
    margin: 0 .3em;
    color: @color6;
}
.player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-right: 2rem;
}
.player .title {
  font-size: 1.1rem;
  color: @color2;
}
.player .artist {
  font-size: 1.1rem;
  color: @color3;
}
.player scale.position {
  padding: 0;
  margin-bottom: .5rem;
}
.player scale.position trough {
  min-height: 8px;
}
.player scale.position highlight {
  background-color: @blue;
}
.player scale.position slider {
  all: unset;
}
