@import "mocha.css";
@import "/home/void/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 4px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Liberation Sans, Terminus Regular, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    border-radius: 4px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-deadbeef,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 4px;
    margin: 0 4px;
    color: #ffffff;
}


#window,
#taskbar {
    background-color: @base;
    border-radius: 4px;
}

#taskbar empty {
    background-color: transparent;
    padding: 0px;
}

#taskbar button {
    margin-left: 4px;
    padding: 2px;
}
#clock {
    background-color: @base;
    color: @blue;
    border: 1px solid @color6;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    margin-right: 0;
    font-weight: bold;
}

#battery {
    background-color: @base;
    color: @color6;
    border: 1px solid @red;
    border-radius: 0 4px 4px 0;
	border-left: 0;
	margin-left: 0;
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @base;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    background-color: @base;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#idle_inhibitor {
    background-color: @base;
    color: @peach;
    border: 1px solid @color5;
	border-radius: 4px 0 0 4px;
    border-right: 0;
    margin-right: 0;
    font-weight: bold;
}

#idle_inhibitor.activated {
    background-color: @base;
    color: @peach;
    border: 1px solid @color5;
	border-radius: 4px 0 0 4px;
    border-right: 0;
    margin-right: 0;
    font-weight: bold;
}

#network {
    background-color: @base;
    color: @mauve;
    border: 1px solid @color5;
	border-radius: 0px;
	border-left: 0;
	border-right: 0;
	margin-left: 0;
	margin-right: 0;
    font-weight: bold;
	
}

#network.disconnected {
    background-color: @base;
    color: @mauve;
    border: 1px solid @color5;
    border-left: 0;
	border-right: 0;
	margin-left: 0;
	margin-right: 0;
    font-weight: bold;
}

#wireplumber {
    background-color: @base;
    color: @teal;
    border: 1px solid @color5;
	border-radius: 0 4px 4px 0;
    border-left: 0;
    margin-left: 0;
    font-weight: bold;
}

#wireplumber.muted {
    background-color: @base;
    color: #2a5c45;
    border: 1px solid @color5;
}

#custom-deadbeef {
    background-color: @base;
    color: @flamingo;
    border: 1px solid @color5;
	border-radius: 4px;
	font-weight: bold;
}

#cpu {
    background-color: @base;
    color: @green;
    border: 1px solid @color4;
    border-radius:  4px 0 0 4px;
    border-right: 0;
    margin-right: 0;
    font-weight: bold;
}
	
#memory {
    background-color: @base;
    color: @lavender;
    border: 1px solid @color4;
	border-radius: 0 4px 4px 0;
    border-left: 0;
    margin-left: 0;
    font-weight: bold;
}

#tray {
    background-color: @background;
	border-radius: 4px;
	border: 1px solid @color5;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @blue;
}

tooltip {
    border-radius: 4px;
    background-color: @base;
    border: 1px solid @color4;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @color7;
}
